html,
body {
    font-family: 'Verdana';
    margin: 0;
    height: 100%;
    width: 100%;
}


#hero {
    height: 30%;
    background: rgba(170, 213, 118, 1);
}
#main-content{
    background: rgba(0,0,0, .5);
}
#links-wrapper {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    box-sizing: border-box;
    background: rgba(255, 255, 255, .5);
    -webkit-box-shadow: 0px 0px 64px -11px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 64px -11px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 64px -11px rgba(0, 0, 0, 0.75);
    border-radius: 3px;
}

#links-wrapper img {
    filter: drop-shadow(0px 0px 6px rgba(0,0,0, .4))
}

#bg-vid {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
    margin: 0 auto;
}

#logo {
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
    display: block;
    padding: 3rem 0;
    filter: drop-shadow(0px 0px 10px rgba(0,0,0, .5))
}
#links-wrapper .header {
    font-size: 3rem;
    text-align: center;
    padding: 3rem 0;
    background: rgba(26, 67, 1, 1);
    color: white;
    -moz-border-radius: 0px;
    -webkit-border-radius: 3px 3px 0px 0px;
    border-radius: 3px 3px 0px 0px;
    margin: 0;
}

#links-wrapper a, #links-wrapper a:visited {
    color: black;
    text-decoration: none;
}

.social-link {
    display: flex;
    padding: 2rem 0;
    border-bottom: 1px solid rgba(0,0,0, .8);
    padding-left: 2rem;
    transition: 200ms;
}

.social-link:hover {
    background: rgba(255, 255, 255, 1);
}
.desc {
    flex-grow: 2;
}

.desc p {
    margin: 0;
    padding-left: 1rem;
}

.title {
    font-size: 1.2rem;
}

.handle {
    color: rgba(0,0,0, .5)
}
